.deps
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.cache
config.sub
configure
depcomp
install-sh
accept-socket
adverbio
alarm
anagrams
bind-socket
connect-socket
daemon
getopt.h
inplace
iobuffer
logfds
missing
pidfile
run-as
run-repeatedly
stamp-h1
with-lock
wordlist.h
*.[oa]
*~
GPATH
GRTAGS
GSYMS
GTAGS
debian/files
debian/*.log
debian/*.substvars
debian/rjk-shell-tools
*.tar.gz
compile
*.trs
*.log
test-driver
